@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    
}


header {
    width: 100%;
    height: 50px;
    background:black;
    color: red;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor1 {

   

    width: 90%;

    margin: auto;
   
   
}


h1 {
    float: left;
}

header .contenedor1 {
    display: table;
}


section {
    width: 100%;
    margin-bottom: 25px;
}




.fontawesome-align-justify:before {
    content: "\f039";
}






#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}


#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}








@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }





    @media (min-width:1024px) {
        .contenedor1 {
            width: 1000px;
        }














#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}


@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
}



    }}




















*{background-color: purple;
}

html{
font-size: 16px;
font-family: 'Lato', sans-serif;

}
body{
background-image: url(/img/fondoindex.jpg);
}
.cont1{
max-width: 450px;
height: auto;
background-color: black;
margin: 5% auto;
padding-bottom: 1rem;
}
.form-top{
width: 100%;
text-align: center;
padding: 2rem 0 1rem;
border-top: solid .4rem black;
margin-bottom: 1rem;
}
.form-top h2{
font-weight: bold;
color: white;
font-size: 18px;

}
h2 span{
color: purple;
}
.input, .btn-submit, .btn-reset, fieldset{
background-color: white;
padding: .5rem;
margin: .5rem 0;
border:none;
border-bottom: solid black .2rem;
transition: all .5s;
}