@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    ;
}

header {
    width: 100%;

    height: 50px;

    height: 100px;

    background:black;
    color: red;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {

    width: 100%;

    width: 90%;

    margin: auto;
    overflow-y: auto;
    overflow-x: hidden
}


h1 {
    float: left;
}

header .contenedor {
    display: table;
}


section {
    width: 100%;
    margin-bottom: 25px;
}







#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}



















#banner {

    margin-top: 50px;
    position: relative;
    width: 120%;
    height: 200px;

    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 400px;

    
}

#banner img {
    width: 100%;

    height: 100px;

    height: 100%;

}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid white;
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}






#bienvenidos {
    text-align: center;
}




.muestra {
    width: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 6px ridge red;
}






#lugares .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


















#contgaleria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#content-img{
    width: 300px;
    margin: auto;
    margin: 10px;
    text-align: center;
    margin-top: 10px;
    background:black;
    color: white ;
}


#img{
    width: 100%;

}
#content-img > label{
    font-size: 18px;
}

input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background: black;
    border-style: none;
    color: white;

}
























































#blog h3, h4 {
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}









#info {
    background:black;
    color: pink;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vista {
    margin: 20px;
}

.vista img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid white;
}







footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.REDSOCIAL {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.sociales a {
    color:red;
    text-decoration: none;
}








@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }





    @media (min-width:1024px) {
        .contenedor {
            width: 1000px;
        }



@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
}







@media (min-width:768px) { 
    #banner {
        height: 300px;
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}


@media (min-width:1024px) { 
    #banner img {
        margin-top: -200px;
    }
}




@media (min-width:480px) {
    .info-pet {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-pet {
        width: auto;
    }
}

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}


@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
}
    }}