*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
body{
    background-image: url(/img/galeriagg.webp);
}

#content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#content-img{
    width: 300px;
    margin: auto;
    margin: 10px;
    text-align: center;
    margin-top: 10px;
    background: purple;
    color: white ;
}

#img{
    width: 100%;

}
#content-img > label{
    font-size: 18px;
}

input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background: black;
    border-style: none;
    color: white;
}
